# Python
fastapi-env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

#custom git ignores:
fastapi-env
# .terraform
# .terraform*
# terraform*
temp.pdf
TerraformDeployment/Main/.terraform
TerraformDeployment/Main/.terraform.lock.hcl
TerraformDeployment/Main/*.tfstate
TerraformDeployment/Main/*.tfstate.backup

# Node.js
node_modules/
*.log

# Environment files
.env
.env.*

# MacOS
.DS_Store

# Editor files
.vscode/
.idea/

# Terraform temp.tf file
temp.tf